# Virtual environment
venv/

# Dataset
data/
segments_16/
segments_16.zip

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Large files
*.zip

# Generated outputs
outputs/
